.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form .btn-default[disabled],
.form .form-control[disabled] {
  background-color: #f7f8fa;
  border-color: #eee;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.65;
}
.form > .title,
.form .inner-wrap > .title {
  color: #5989b2;
  font-size: 14px;
  font-weight: bold;
}
.form .title-sub {
  color: #666;
  font-size: 16px;
  font-weight: bold;
}
.form.form-create-filter .block-create-filter {
  padding-bottom: 5px;
}
.form.form-create-filter .filter-expression {
  background-color: #f5f1f1;
  padding: 0 15px;
  position: relative;
  min-height: 50px;
}
.form.form-create-filter .filter-expression:first-child {
  padding-top: 10px;
}
.form.form-create-filter .filter-expression > .form-inline {
  min-width: 580px;
}
.form.form-create-filter .add-or-link,
.form.form-create-filter .add-and-link {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  color: #57b9f7;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0;
}
.form.form-create-filter .add-or-link:focus,
.form.form-create-filter .add-and-link:focus {
  outline: none;
}
.form.form-create-filter .add-or-link.disabled,
.form.form-create-filter .add-and-link.disabled {
  cursor: default;
  color: #aaaaaa;
  pointer-events: none;
}
.form.form-create-filter .btn-close {
  position: absolute;
  right: 10px;
  top: 8px;
}
.form.form-share-report .input-dropdown,
.form.form-share-report .list-account {
  background-color: #ffffff;
  border: 1px solid #13abd7;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.form.form-share-report .input-dropdown {
  padding: 8px 8px;
  min-height: 86px;
}
.form.form-share-report .list-account {
  padding: 10px 0 10px 10px;
}
.form.form-share-report .list-account .account-item {
  border-bottom: 1px solid #eee;
  position: relative;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
.form.form-share-report .list-account .account-item:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.form.form-share-report .list-account .account-name,
.form.form-share-report .list-account .account-email {
  color: #666666;
  display: block;
  font-size: 13px;
}
.form.form-share-report .list-account .account-name {
  font-weight: bold;
}
.form.form-share-report .list-account .account-email {
  color: #aaaaaa;
  font-size: 12px;
}
.form.form-share-report .list-account .btn-remove {
  position: absolute;
  right: 0;
  top: 0;
}
.form.form-share-report .scrollbar-dynamic {
  min-height: 120px;
  max-height: 253px;
  padding-right: 15px;
  margin-right: 5px;
}
.form.form-export .radio-multi {
  margin-bottom: 10px;
  line-height: 1;
}
.form.form-export .radio-multi:last-child {
  margin-bottom: 0;
}
.form.form-create .btn-default {
  color: #666;
}
.form.form-create .btn-link:focus {
  text-decoration: none;
}
.form.form-create .dropdown.show .btn-default {
  background-color: #f7f8fa;
}
.form.form-create .dropdown.show .btn-default.dropdown-toggle:after {
  border-top-color: #b7c4d1;
}
.form.form-create .quotation-kpi,
.form.form-create .services {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px;
}
.form.form-create .quotation-kpi .close,
.form.form-create .services .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0;
}
.form.form-create .quotation-kpi .btn-delete,
.form.form-create .services .btn-delete {
  background-color: #f7f7f7;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  line-height: 0;
  padding: 4px 6px;
}
.form.form-create .quotation-kpi .btn-delete:hover,
.form.form-create .services .btn-delete:hover {
  border-color: #13abd7;
}
.form.form-create .quotation-kpi .btn-link,
.form.form-create .services .btn-link {
  padding: 8px 0;
}
.form.form-create .kpi .kpi-row,
.form.form-create .request .kpi-row,
.form.form-create .specific-setting .kpi-row,
.form.form-create .kpi .request-row,
.form.form-create .request .request-row,
.form.form-create .specific-setting .request-row,
.form.form-create .kpi .specific-setting-row,
.form.form-create .request .specific-setting-row,
.form.form-create .specific-setting .specific-setting-row {
  border-bottom: 1px solid #ddd;
  padding: 12px 30px 12px 15px;
  position: relative;
}
.form.form-create .kpi .kpi-row:first-child,
.form.form-create .request .kpi-row:first-child,
.form.form-create .specific-setting .kpi-row:first-child,
.form.form-create .kpi .request-row:first-child,
.form.form-create .request .request-row:first-child,
.form.form-create .specific-setting .request-row:first-child,
.form.form-create .kpi .specific-setting-row:first-child,
.form.form-create .request .specific-setting-row:first-child,
.form.form-create .specific-setting .specific-setting-row:first-child {
  border-top: 1px solid #ddd;
}
.form.form-create .kpi .btn-delete,
.form.form-create .request .btn-delete,
.form.form-create .specific-setting .btn-delete {
  position: absolute;
  right: 0;
  top: 16px;
}
.form.form-create .specific-setting .specific-setting-row {
  padding: 8px 30px 8px 15px;
}
.form.form-create .specific-setting .btn-delete {
  top: 12px;
}
.form.form-create .choose-row {
  margin-bottom: 15px;
}
.form.form-create .choose-row .radio-multi {
  margin-bottom: 10px;
  line-height: 1;
}
.form.form-create .data-selection .table-body {
  position: relative;
}
.form.form-create .data-selection .scrollbar {
  display: inline-block;
  min-width: 100%;
  max-height: 225px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  padding-right: 5px;
}
.form.form-create .table-info {
  border: 1px solid #cedde2;
}
.form.form-create .table-info th,
.form.form-create .table-info td {
  border: 1px solid #cedde2;
  color: #333;
  font-weight: normal;
  padding: 5px 10px;
  line-height: 1.3;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form.form-create .table-info th {
  background-color: #f8f9fb;
}
.form.form-create .table-info td {
  background-color: #fff;
}
.form.form-line-item .form-group {
  color: #333;
}
.form.form-line-item .radio-multi {
  line-height: 1;
}
.form.form-line-item .radio-multi span {
  color: #333;
}
.form.form-line-item .block-start-end {
  border: 1px solid #e3eef1;
  padding: 8px 12px;
  margin-top: 10px;
}
.form.form-line-item .block-start-end .btn-default {
  color: #555;
}
.form.form-line-item .icon-btn-blue-sm[aria-expanded=true],
.form.form-line-item .icon-btn-blue-sm.active {
  background-position: 0 -120px;
}
.form.form-campaign .top-interest-block {
  margin-bottom: 30px;
}
.form.form-campaign .interest-block {
  max-width: 1034px;
}
.form.form-campaign .interest-block .content {
  padding: 8px 15px 15px;
}
.form.form-link-line-item .interest-block {
  width: 776px;
  padding-left: 30px;
}
.form.form-new-label .form-group:last-child {
  margin-bottom: 0;
}
.form.form-new-label .btn-add {
  border: 1px solid #13abd7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #13abd7;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.form.form-new-label .btn-add:hover {
  background-color: #fafafa;
}
.form.form-target > .title {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}
.form.form-target > .title > span {
  color: #999;
  display: block;
  font-size: 13px;
  margin-top: 6px;
}
.form.form-target .box-radio .radio-multi {
  margin-bottom: 10px;
  line-height: 1;
}
.form.form-target .block-info-target:last-child {
  margin-bottom: 12px;
}
.form.form-target .block-info-target .list-info-target > li {
  border: 1px solid #eee;
  display: flex;
  position: relative;
  padding-top: 12px;
  margin-bottom: -1px;
}
.form.form-target .block-info-target .list-info-target .label {
  color: #5989b2;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  width: 30%;
}
.form.form-target .block-info-target .list-info-target .btn-edit {
  background-color: #f5f5f5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  width: 20px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 4px;
}
.form.form-target .block-info-target .list-info-target .btn-edit:hover {
  border-color: #00c6ff;
}
.form.form-target .block-info-target .list-info-target .icon-edit {
  background-position: 0 -240px;
  position: absolute;
  right: 0;
  top: 1px;
}
.form.form-target .block-info-target .list-location .title-location {
  margin-bottom: 5px;
}
.form.form-target .block-info-target .list-location ul li:before {
  background-color: #ccc;
  border-radius: 50%;
  content: "";
  color: #ccc;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 5px;
  vertical-align: middle;
}
.form.form-target .block-info-target .container-field {
  width: 70%;
  padding-right: 30px;
}
.form.form-target .block-info-target .container-field .name {
  border-top: 1px solid #eee;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
  vertical-align: top;
  line-height: 18px;
  padding-top: 5px;
}
.form.form-target .block-info-target .container-field .name:first-child {
  border-top: 0;
  padding-top: 0;
}
.form.form-target .block-info-target .container-field .name span {
  color: #999;
  display: block;
  font-weight: normal;
  font-size: 12px;
}
.form .form-group {
  margin: 0 0 15px 0;
}
.form .form-group label.text-info {
  color: #5989b2 !important;
}
.form .form-group label.text-info .other-color {
  color: red;
  font-weight: bold;
}
.form .form-group textarea[type=text] {
  width: 335px;
  height: 80px;
}
.form .form-group .container-field.edit-name,
.form .form-group .container-field .edit-name {
  padding-right: 60px;
  position: relative;
}
.form .form-group .container-field.edit-name:hover .icon-edit:after,
.form .form-group .container-field .edit-name:hover .icon-edit:after {
  border-color: #13abd7;
}
.form .form-group .container-field.edit-name .btn-edit,
.form .form-group .container-field .edit-name .btn-edit {
  color: #13abd7;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 3px;
}
.form .form-group .container-field.edit-name .btn-edit.bottom,
.form .form-group .container-field .edit-name .btn-edit.bottom {
  top: auto;
  bottom: 0;
}
.form .form-group .container-field.edit-name .icon-edit,
.form .form-group .container-field .edit-name .icon-edit {
  background-position: 0 -240px;
  margin-right: 5px;
  position: relative;
}
.form .form-group .container-field.edit-name .icon-edit:after,
.form .form-group .container-field .edit-name .icon-edit:after {
  background-color: #f2f2f2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  content: "";
  height: 18px;
  width: 20px;
  position: absolute;
  left: -5px;
  top: -3px;
  z-index: -1;
}
.form .form-group .container-field.save-name,
.form .form-group .container-field .save-name {
  padding-right: 150px;
  position: relative;
}
.form .form-group .container-field.save-name .box-button,
.form .form-group .container-field .save-name .box-button {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.form .form-group .container-field.save-name .box-button.bottom,
.form .form-group .container-field .save-name .box-button.bottom {
  top: auto;
  bottom: 0;
}
.form .form-group .container-field .name-info {
  background-color: #f7f8fa;
  color: #333;
  display: block;
  padding: 5px 8px;
  min-width: 120px;
}
.form .form-group .container-field .name-info > span {
  display: block;
  margin-bottom: 5px;
}
.form .form-group .container-field .name-info .list-kpi {
  display: flex;
  align-items: flex-start;
}
.form .form-group .container-field .name-info .list-kpi .name {
  margin-right: 5px;
}
.form .form-group .container-field .name-info .list-kpi .list-kpi-item > span {
  display: block;
}
.form .form-group .container-field .name-info .list-kpi .list-kpi-item > span:before {
  background-color: #ccc;
  content: "";
  display: inline-block;
  vertical-align: 2px;
  width: 5px;
  height: 5px;
  margin-right: 6px;
}
.form .border-box {
  border: 1px solid #e3eef1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  padding-top: 15px;
  margin-bottom: 15px;
}
.form .border-box .box-item {
  width: 50%;
  padding-left: 40px;
  position: relative;
}
.form .border-box .box-item:first-child:after {
  background: url(../images/dotted-v.png);
  content: "";
  position: absolute;
  height: 68px;
  width: 2px;
  right: 0;
  top: 5px;
}
.form .border-box .box-item:last-child {
  margin-top: 20px;
}
.form .upload-file {
  background-color: #f7f8fa;
  border: 2px dashed #13abd7;
  padding: 10px 12px 5px 46px;
  position: relative;
}
.form .upload-file span {
  color: #aaa;
  display: block;
  margin-bottom: 15px;
}
.form .upload-file span.btn-upload {
  display: flex;
  align-items: center;
}
.form .upload-file span.btn-upload .btn-grey {
  margin-right: 10px;
}
.form .upload-file .icon-upload {
  position: absolute;
  top: 10px;
  left: 10px;
}
.form .list-note-file {
  margin-top: 12px;
}
.form .list-note-file.dotted-top:before {
  background: url(../images/dotted.png) left top repeat-x;
  border: 0 none;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
}
.form .list-note-file > li {
  color: #999;
  font-size: 12px;
}
.form .input-dropdown .select-match {
  float: left;
}
.form .input-dropdown .select-match > span {
  background-color: #cdebf6;
  cursor: default;
  padding: 0 27px 0 6px;
  font-size: 13px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  margin-right: 5px;
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  max-width: 158px;
  line-height: 22px;
  min-height: 22px;
  float: left;
}
.form .input-dropdown .select-match > span.error {
  background-color: #e52e2e;
  color: #f4f4f4 !important;
  margin-top: 0;
}
.form .input-dropdown .select-match .btn-close {
  position: absolute;
  right: 2px;
  top: 2px;
}
.form .input-dropdown .select-search {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 12px;
  height: 22px;
  padding: 0;
}
.form .input-dropdown .input-search {
  margin: 0 10px 5px;
  padding-bottom: 10px;
}
.form .input-dropdown .input-search .icon-search {
  background-position: -60px -120px;
  vertical-align: top;
}
.form .input-dropdown .scrollbar-dynamic {
  min-height: 46px;
  max-height: 246px;
}
.form .input-dropdown .bs-tooltip-bottom .tooltip-inner {
  background-color: #ec0000;
  color: #ebebeb;
}
.form .input-dropdown .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.form .input-dropdown .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ec0000;
}
.form .top-interest-block .btn-default {
  padding: 0 20px;
}
.form .top-interest-block .btn-default.active {
  height: 40px;
  font-weight: bold;
  position: relative;
}
.form .top-interest-block .btn-default.active:after {
  border-style: solid;
  border-width: 0 12px 15px 12px;
  border-color: transparent transparent #dff2f7 transparent;
  content: " ";
  height: 0;
  width: 0;
  margin: 18px auto 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.form .top-interest-block .btn-default.active .icon-create-builder {
  background-position: -160px -180px;
}
.form .interest-block > .content {
  background-color: #dff2f7;
  padding: 15px 15px;
}
.form .interest-block > .content > .title {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.form .interest-block .inner-wrap,
.form .interest-block .inner {
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 10px;
}
.form .interest-block .inner {
  display: flex;
}
.form .interest-block .inner.flex-row-reverse .inner-left {
  margin-left: 1%;
}
.form .interest-block .inner.flex-row-reverse .inner-right {
  margin-right: 1%;
}
.form .interest-block .inner.flex-row-reverse .btn-arrow .icon-btn-arrow {
  transform: rotateY(180deg);
}
.form .interest-block .input-search {
  margin-bottom: 10px;
}
.form .interest-block .input-search .icon-search {
  background-position: -60px -120px;
}
.form .interest-block .block-tabs {
  display: flex;
}
.form .interest-block .block-tabs .tab-item {
  color: #0b83a6;
  cursor: pointer;
  font-size: 13px;
  white-space: nowrap;
  line-height: 1;
}
.form .interest-block .block-tabs .tab-item.active {
  font-weight: bold;
}
.form .interest-block .block-tabs .tab-item:not(:first-child) {
  padding-left: 10px;
}
.form .interest-block .block-tabs .tab-item:not(:first-child):before {
  background-color: #0b83a6;
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}
.form .interest-block .inner-left,
.form .interest-block .inner-right {
  width: 49%;
}
.form .interest-block .inner-left > .head,
.form .interest-block .inner-right > .head {
  min-height: 25px;
}
.form .interest-block .inner-left > .body,
.form .interest-block .inner-right > .body {
  border: 1px solid #dfe4e6;
  padding: 10px 10px;
}
.form .interest-block .inner-left > .body .scrollbar,
.form .interest-block .inner-right > .body .scrollbar {
  overflow-y: overlay;
  padding-right: 8px;
  margin-right: -8px;
  height: 300px;
}
.form .interest-block .inner-left > .foot,
.form .interest-block .inner-right > .foot {
  border: 1px solid #dfe4e6;
  padding: 8px 10px;
  margin-top: -1px;
}
.form .interest-block .inner-left > .foot .btn-default:hover,
.form .interest-block .inner-right > .foot .btn-default:hover {
  color: #666;
}
.form .interest-block .inner-left {
  margin-right: 1%;
}
.form .interest-block .inner-left > .body textarea.form-control {
  border: 0 none;
  font-size: 13px;
  padding: 0;
  height: 298px;
}
.form .interest-block .inner-left > .body textarea.form-control:focus {
  box-shadow: none;
  outline: none;
}
.form .interest-block .inner-right {
  margin-left: 1%;
}
.form .interest-block .top-head {
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dfe4e6;
  padding: 4px 10px;
  margin: -10px -10px 7px;
  min-height: 38px;
  position: relative;
}
.form .interest-block .top-head > h4 {
  color: #666;
  font-size: 12px;
  margin: 0;
  line-height: 30px;
}
.form .interest-block .top-head > h4 span.number {
  background-color: #ebebeb;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-weight: normal;
  padding: 2px 6px;
  margin-left: 2px;
  line-height: 1;
}
.form .interest-block .top-head .btn-sort {
  margin-left: 5px;
}
.form .interest-block .top-head .btn-sort.active .icon-arrow-round {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.form .interest-block .top-head .btn-sort .icon-arrow-round {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.form .interest-block .top-head .col-left,
.form .interest-block .top-head .col-center,
.form .interest-block .top-head .col-right {
  line-height: 1.2;
}
.form .interest-block .top-head .col-left {
  width: 55%;
}
.form .interest-block .top-head .col-center {
  width: 75px;
}
.form .interest-block .top-head .col-right {
  width: calc(45% - 75px);
}
.form .interest-block .list-collapsed .inner-row .inner-name {
  padding-left: 32px;
}
.form .interest-block .list-collapsed .inner-row .country {
  color: #999;
  font-size: 11px;
  margin-left: 2px;
}
.form .interest-block .list-collapsed .inner-row .icon-btn-blue {
  position: absolute;
  left: 5px;
  top: 6px;
}
.form .interest-block .list-collapsed .inner-row .icon-btn-blue[aria-expanded="true"],
.form .interest-block .list-collapsed .inner-row .icon-btn-blue.active {
  background-position: 0 -173px;
}
.form .interest-block .inner-row {
  border-bottom: 1px solid #eee;
  position: relative;
}
.form .interest-block .inner-row:last-child {
  border: 0 none;
}
.form .interest-block .inner-row:hover {
  background-color: #e4f9ff;
}
.form .interest-block .inner-row.image {
  padding-left: 75px;
  min-height: 72px;
}
.form .interest-block .inner-row.image > img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  left: 5px;
  top: 6px;
}
.form .interest-block .inner-row.image .inner-name {
  padding-left: 0;
  white-space: normal;
}
.form .interest-block .inner-row.image .max-height {
  position: relative;
}
.form .interest-block .inner-row.image .max-height:after {
  color: #666;
  content: "...";
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.form .interest-block .inner-row.image .max-height .des {
  margin-bottom: 12px;
  max-height: 33px;
  overflow: hidden;
}
.form .interest-block .inner-row.image .des {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  white-space: pre-line;
  line-height: 1.4;
}
.form .interest-block .inner-row.image .price {
  color: #dd2c30;
}
.form .interest-block .inner-row.active .btn-arrow,
.form .interest-block .inner-row.disabled .btn-arrow {
  cursor: default;
  pointer-events: none;
}
.form .interest-block .inner-row.active .icon-btn-arrow,
.form .interest-block .inner-row.disabled .icon-btn-arrow {
  background-position: -30px -300px;
}
.form .interest-block .inner-row.active > img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  opacity: 0.4;
}
.form .interest-block .inner-row.active .inner-name,
.form .interest-block .inner-row.active .price {
  color: #cccccc;
}
.form .interest-block .inner-row .inner-name {
  cursor: default;
  display: block;
  font-size: 13px;
  padding: 6px 30px 6px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form .interest-block .inner-row .inner-number {
  color: #aaaaaa;
  cursor: default;
  display: block;
  font-size: 11px;
  padding: 6px 5px;
}
.form .interest-block .inner-row .btn-close,
.form .interest-block .inner-row .btn-arrow {
  position: absolute;
  right: 5px;
  top: 8px;
  line-height: 1;
}
.form .interest-block .inner-row .btn-close.position-static,
.form .interest-block .inner-row .btn-arrow.position-static {
  text-align: right;
  padding-right: 5px;
}
.form .interest-block .inner-row .col-left {
  width: 55%;
  padding-right: 15px;
  white-space: normal;
}
.form .interest-block .inner-row .col-center {
  width: 40%;
  padding-left: 0;
  padding-right: 0;
  overflow: visible;
}
.form .interest-block .inner-row .col-right {
  width: 5%;
  padding-left: 0;
  padding-right: 0;
}
.form .interest-block .warning {
  position: absolute;
  left: 50px;
}
.form .interest-block .warning .icon-warning {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
}
.form .interest-block .icon-top-ten {
  margin-right: 6px;
  float: left;
}
.form .interest-block .icon-warning {
  background-position: -81px -104px;
  width: 18px;
  height: 15px;
}
.form .error-valid {
  display: block;
  line-height: 1;
}
.form .error-valid .icon-danger-valid {
  margin-right: 8px;
  vertical-align: sub;
}
.form .error {
  color: red !important;
  display: block;
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  line-height: 1;
}
.form .other-color {
  color: #ff0000;
  font-size: 13px;
  display: inline-block;
}
.form .placeholder::-webkit-input-placeholder,
.form .placeholder:-moz-placeholder,
.form .placeholder::-moz-placeholder {
  color: #333333;
}
.form .btn-remove:hover .icon-close {
  background-position: -30px -60px;
}
.form .text-dot {
  border-bottom: 1px dotted;
}
.form .table-create-upload {
  margin-bottom: 0;
  font-size: 12px;
}
.form .table-create-upload > thead {
  background-color: #fff;
}
.form .table-create-upload > thead > tr > th {
  background-color: #076d8c;
  border: 1px solid #3387a0;
  color: #fff;
  padding: 6px 10px;
  vertical-align: top;
}
.form .table-create-upload > thead > tr > th.checkbox {
  width: 40px;
  max-width: 40px;
}
.form .table-create-upload > thead > tr > th span.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
}
.form .table-create-upload > thead > tr > th .checkbox-multi {
  line-height: 1;
}
.form .table-create-upload > thead > tr > th .checkbox-multi .icon-check {
  margin-right: 0;
}
.form .table-create-upload > thead .text-dot {
  border-bottom: 1px dotted;
  cursor: pointer;
}
.form .table-create-upload > tbody {
  position: relative;
}
.form .table-create-upload > tbody > tr:hover > td {
  background-color: rgba(0, 198, 255, 0.1);
}
.form .table-create-upload > tbody > tr > td {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #e3eef1;
  padding: 6px 10px;
}
.form .table-create-upload > tbody > tr > td span.text-nowrap {
  display: block;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form .table-create-upload > tbody > tr > td span.text-color {
  color: #0b8eb3;
  cursor: pointer;
  font-weight: bold;
}
.form .table-create-upload > tbody > tr > td .checkbox-multi .icon-check {
  margin-right: 0;
}
.form .table-create-upload > tbody > tr > td .icon-status-affected,
.form .table-create-upload > tbody > tr > td .icon-status-success {
  background: none;
  height: 8px;
  width: 8px;
  margin-right: 5px;
  position: relative;
}
.form .table-create-upload > tbody > tr > td .icon-status-affected {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form .table-create-upload > tbody > tr > td .icon-status-affected:before,
.form .table-create-upload > tbody > tr > td .icon-status-affected:after {
  background-color: #ff6969;
  content: "";
  width: 8px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 3px;
}
.form .table-create-upload > tbody > tr > td .icon-status-affected:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.form .table-create-upload > tbody > tr > td .icon-status-success {
  height: 8px;
  width: 8px;
}
.form .table-create-upload > tbody > tr > td .icon-status-success:before {
  background-color: #aed83b;
  -wekit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
}
.form .scheduling-board.scale {
  width: 168px;
  height: 49px;
}
.form .scheduling-board.scale table {
  -webkit-transform: scale(0.35);
  transform: scale(0.35);
  transform-origin: 0 0;
}
.form .scheduling-board.scale table tr:first-child > td:first-child {
  background-color: #f7f7f7;
  border-color: #eee;
}
.form .scheduling-board.scale table tr:first-child > td:first-child .checkbox-multi span.icon-check {
  background-color: #5682b2;
}
.form .scheduling-board .checkbox-multi {
  line-height: 0;
  width: 16px;
  height: 16px;
}
.form .scheduling-board .checkbox-multi span.icon-check {
  background-color: #5682b2;
  margin-right: 0;
}
.form .scheduling-board table {
  border-collapse: separate;
  border-spacing: 0;
}
.form .scheduling-board table tr:first-child > td:first-child {
  background-color: transparent;
  border: 0 none;
  text-align: left;
}
.form .scheduling-board table tr:first-child > td:first-child .checkbox-multi span.icon-check {
  background-color: transparent;
}
.form .scheduling-board table td {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  font-size: 12px;
  width: 20px;
  min-width: 20px;
  text-align: center;
}
.form .scheduling-board table td > span {
  color: #0b8eb3;
  cursor: pointer;
}
