[class*=" icon"],
[class^=icon-] {
  background-image: url(../images/icon-template-report-only.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.icon-close-square {
  background-position: -130px 0;
  background-size: 200px 330px;
  width: 20px;
  height: 20px;
}
.icon-cloud-down {
  background-position: -130px -60px;
  background-size: 200px 330px;
  width: 26px;
  height: 21px;
}
.icon-search {
  background-position: 0 0;
  background-size: 200px 330px;
  width: 18px;
  height: 18px;
}
.icon-setting {
  background-position: -60px 0;
  background-size: 200px 330px;
  width: 19px;
  height: 18px;
}
.icon-bell {
  background-position: -60px -30px;
  background-size: 200px 330px;
  width: 19px;
  height: 21px;
}
.icon-warning {
  background-position: -60px -60px;
  background-size: 200px 330px;
  width: 27px;
  height: 22px;
}
.icon-drag {
  background-position: -30px 0;
  background-size: 200px 330px;
  width: 9px;
  height: 15px;
}
.icon-edit {
  background-position: -30px -30px;
  background-size: 200px 330px;
  width: 14px;
  height: 14px;
}
.icon-close {
  background-position: 0 -60px;
  background-size: 200px 330px;
  width: 15px;
  height: 15px;
}
.icon-add {
  background-position: 0 -120px;
  background-size: 200px 330px;
  width: 15px;
  height: 15px;
}
.icon-danger-valid {
  background-position: 0 -90px;
  background-size: 200px 330px;
  width: 14px;
  height: 14px;
}
.icon-back-filter {
  background-position: -30px -90px;
  background-size: 200px 330px;
  width: 17px;
  height: 13px;
}
.icon-close-square-sm {
  background-position: -60px -90px;
  background-size: 200px 330px;
  width: 18px;
  height: 18px;
}
.icon-checked-sm {
  background-position: 0 -150px;
  background-size: 200px 330px;
  width: 11px;
  height: 7px;
}
.icon-arrow-first {
  background-position: 0 -180px;
  background-size: 200px 330px;
  width: 9px;
  height: 11px;
}
.icon-arrow-pre {
  background-position: -100px -60px;
  background-size: 200px 330px;
  width: 8px;
  height: 13px;
}
.icon-arrow-next {
  background-position: -100px -60px;
  background-size: 200px 330px;
  width: 8px;
  height: 13px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-plus-white {
  background-position: -30px -240px;
  background-size: 200px 330px;
  width: 13px;
  height: 13px;
}
.icon-filter-grey {
  background-position: 0 -210px;
  background-size: 200px 330px;
  width: 15px;
  height: 15px;
}
.icon-campaign-grey {
  background-position: -30px -210px;
  background-size: 200px 330px;
  width: 16px;
  height: 16px;
}
.icon-success-green {
  background-position: -60px -180px;
  background-size: 200px 330px;
  width: 22px;
  height: 22px;
}
.icon-error-red {
  background-position: -60px -210px;
  background-size: 200px 330px;
  width: 22px;
  height: 22px;
}
.icon-arrow-circle {
  background-position: 0 -270px;
  background-size: 200px 330px;
  width: 16px;
  height: 16px;
}
.icon-btn-arrow {
  background-position: -30px -270px;
  background-size: 200px 330px;
  width: 19px;
  height: 15px;
}
.icon-arrow-down-red {
  background-position: -100px 0;
  background-size: 200px 330px;
  width: 10px;
  height: 10px;
}
.icon-arrow-up-green {
  background-position: -117px 0;
  background-size: 200px 330px;
  width: 10px;
  height: 10px;
}
.icon-maximize {
  background-position: -60px -240px;
  background-size: 200px 330px;
  width: 23px;
  height: 17px;
}
.icon-demographic {
  background-position: -60px -270px;
  background-size: 200px 330px;
  width: 23px;
  height: 22px;
}
.icon-yeild-optiminzation {
  background-position: -60px -300px;
  background-size: 200px 330px;
  width: 23px;
  height: 17px;
}
.icon-pricing-model {
  background-position: -160px 0;
  background-size: 200px 330px;
  width: 21px;
  height: 19px;
}
.icon-manage-ad {
  background-position: -160px -30px;
  background-size: 200px 330px;
  width: 26px;
  height: 16px;
}
.icon-bg-transparent {
  background-position: -100px -30px;
  background-size: 200px 330px;
  width: 20px;
  height: 20px;
}
.icon-table-result-filter {
  background-position: -30px -150px;
  background-size: 200px 330px;
  width: 10px;
  height: 8px;
}
.icon-close-blue-table {
  background-position: -130px -120px;
  background-size: 200px 330px;
  width: 13px;
  height: 13px;
}
.icon-arrow-table {
  background-position: -130px -180px;
  background-size: 200px 330px;
  width: 15px;
  height: 15px;
}
.icon-close-white-filter-v2 {
  background-position: -130px -270px;
  background-size: 200px 330px;
  width: 18px;
  height: 18px;
}
.icon-filter-v2 {
  background-position: -100px -270px;
  background-size: 200px 330px;
  width: 16px;
  height: 13px;
}
.icon-arrow-filter-v2 {
  background-position: 0 -270px;
  background-size: 200px 330px;
  width: 16px;
  height: 16px;
}
.icon-save-filter-v2 {
  background-position: -100px -300px;
  background-size: 200px 330px;
  width: 20px;
  height: 20px;
}
.icon-close-filter-v2 {
  background-position: -130px -210px;
  background-size: 200px 330px;
  width: 20px;
  height: 20px;
}
.icon-pen-filter-v2 {
  background-position: -130px -240px;
  background-size: 200px 330px;
  width: 18px;
  height: 18px;
}
.icon-pen-white {
  background-position: -19px -259px;
  background-size: 200px 330px;
  width: 11px;
  height: 11px;
}
.icon-account-grey {
  background-position: -160px -60px;
  background-size: 200px 330px;
  width: 12px;
  height: 12px;
}
.icon-beta {
  background-position: -160px -90px;
  background-size: 200px 330px;
  width: 30px;
  height: 12px;
}
.icon-delete {
  background-position: -100px -90px;
  background-size: 200px 330px;
  width: 9px;
  height: 12px;
}
.icon-upload {
  background-position: -100px -180px;
  background-size: 200px 330px;
  width: 26px;
  height: 21px;
}
.icon-popup-checked-green {
  background-position: -130px -300px;
  background-size: 200px 330px;
  width: 16px;
  height: 10px;
}
.icon-popup-error-red {
  background-position: -147px -317px;
  background-size: 200px 330px;
  width: 13px;
  height: 13px;
}
.icon-rotate {
  background-position: -118px -138px;
  background-size: 200px 330px;
  width: 12px;
  height: 12px;
}
.icon-top-ten {
  background-position: -82px -128px;
  background-size: 200px 330px;
  width: 17px;
  height: 20px;
}
.icon-create-builder {
  background-position: -160px -210px;
  background-size: 200px 330px;
  width: 20px;
  height: 20px;
}
.icon-arrow-back {
  background-position: -113px -77px;
  background-size: 200px 330px;
  width: 17px;
  height: 17px;
}
.icon-arrow-round {
  background-position: -185px -15px;
  background-size: 200px 330px;
  width: 15px;
  height: 15px;
}
.icon-adx {
  background-image: url(../images/icon-channel.png);
  background-position: 0 0;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-google-adwords {
  background-image: url(../images/icon-channel.png);
  background-position: -30px 0;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-facebook {
  background-image: url(../images/icon-channel.png);
  background-position: 0 -50px;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-google-analytics {
  background-image: url(../images/icon-channel.png);
  background-position: -30px -50px;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-coc-coc {
  background-image: url(../images/icon-channel.png);
  background-position: 0 -100px;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-appnexus {
  background-image: url(../images/icon-channel.png);
  background-position: -30px -100px;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-admicro {
  background-image: url(../images/icon-channel.png);
  background-position: 0 -150px;
  background-size: 90px 200px;
  width: 22px;
  height: 22px;
}
.icon-dfp {
  background-image: url(../images/icon-channel.png);
  background-position: -30px -150px;
  background-size: 90px 200px;
  width: 22px;
  height: 18px;
}
.icon-analytic {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 0;
  background-size: 60px 330px;
  width: 25px;
  height: 13px;
}
.icon-analytic-account {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -30px;
  background-size: 60px 330px;
  width: 25px;
  height: 18px;
}
.icon-upload-data,
.icon-all-line-item,
.icon-project-management {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -60px;
  background-size: 60px 330px;
  width: 24px;
  height: 24px;
}
.icon-channel-accounts {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -210px;
  background-size: 60px 330px;
  width: 24px;
  height: 17px;
}
.icon-predefined-report {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -90px;
  background-size: 60px 330px;
  width: 24px;
  height: 24px;
}
.icon-my-report {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -120px;
  background-size: 60px 330px;
  width: 28px;
  height: 25px;
}
.icon-my-report-template {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -150px;
  background-size: 60px 330px;
  width: 29px;
  height: 23px;
}
.icon-shared-with-me {
  background-image: url(../images/icon-left-menu.png);
  background-position: 0 -180px;
  background-size: 60px 330px;
  width: 29px;
  height: 23px;
}
.icon-audit-ads-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: 0 0;
  background-size: 60px 150px;
  width: 16px;
  height: 16px;
}
.icon-campaign-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: -30px -4px;
  background-size: 60px 150px;
  width: 18px;
  height: 10px;
}
.icon-analytics-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: 0 -30px;
  background-size: 60px 150px;
  width: 16px;
  height: 16px;
}
.icon-connector-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: -32px -30px;
  background-size: 60px 150px;
  width: 14px;
  height: 18px;
}
.icon-product-center-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: 0 -60px;
  background-size: 60px 150px;
  width: 16px;
  height: 16px;
}
.icon-keyword-suggestion-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: -30px -60px;
  background-size: 60px 150px;
  width: 18px;
  height: 18px;
}
.icon-click-fraud-detection-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: 0 -90px;
  background-size: 60px 150px;
  width: 18px;
  height: 18px;
}
.icon-to-do-list-a1 {
  background-image: url(../images/icon-a1-digihub.png);
  background-position: -32px -90px;
  background-size: 60px 150px;
  width: 14px;
  height: 16px;
}
.icon-btn-blue {
  background-image: url(../images/icheck.png);
  background-position: 0 -150px;
  background-size: 18px 350px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.icon-btn-blue-sm {
  background-image: url(../images/icheck.png);
  background-position: 0 -100px;
  background-size: 18px 350px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.icon-square {
  background-image: none;
  border: 1px solid #fff;
  box-sizing: content-box;
  width: 10px;
  height: 10px;
}
.icon-square.blue {
  background-color: #058dc7;
}
.icon-square.orange {
  background-color: #ff7b00;
}
.icon-square.blue-compare {
  background-color: #7dc1de;
}
.icon-square.orange-compare {
  background-color: #f2d5bd;
}
